.nav__link {
    color: var(--primary-text-color);
  
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.nav__link:hover,
.nav__link:focus {
    color: var(--accent-text-color);
  
    
  }

.nav__link--current {
    color: var(--accent-text-color);
    position: relative;
  }
  
  
.nav__link--current::after {
    position: absolute;
    bottom: -1px;
  
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
  }
  
.nav__list {
    display: flex;
    align-items: center;
  }
  
.nav__logo {
    margin-right: 93px;
  }
  
.nav {
    display: flex;
    align-items: center;
  }
  
  
.icon-nav {
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }

.nav__list .item:not(:last-child) {
    margin-right: 50px;
  }