.work__list {
    display: flex;
    justify-content: center;
  }
  
.work__item:not(:last-child) {
    margin-right: var(--card-set-gup);
  }
  
.work__wrapper {
    position: relative;
  }
  
.work__text {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
   
  }