.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-envelope {
  width: 1.3330078125em;
}

.icon-logo {
  width: 1.7666015625em;
}

.icon-logo1 {
  width: 1.7666015625em;
}

.icon-logo2 {
  width: 1.7666015625em;
}

.icon-logo3 {
  width: 1.7666015625em;
}

.icon-logo4 {
  width: 1.7666015625em;
}

.icon-logo5 {
  width: 1.7666015625em;
}

.icon-smartphone {
  width: 0.625em;
}
